@CHARSET "UTF-8";

@font-face {
    font-family: "Myriad Pro Bold";   
    src: url('fonts/MyriadWebPro-Bold.ttf');
}

@font-face {
    font-family: "DFHeiStd";
    src: url('fonts/DFHeiStd-W7.otf');
}

@font-face {
    font-family: "Helvetica Neue UltraLight";
    src: url('fonts/HelveticaNeue-UltraLight.ttf');
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url('fonts/HelveticaNeue-Light.ttf');
}
#container {
    width: 1000px;
    margin: 50px auto 25px auto;
    position: relative;
    height: 87px;
}

#center {
    font-family: Helvetica, Arial;
    font-size: 11px; 
    background-color: #FAFAFA; 
    color: #63665F;
    width: 800px;
    margin: auto;
    position: relative;
}

#wavecenter {
    font-family: Helvetica, Arial;
    font-size: 11px; 
    background-color: #FFFFFF; 
    color: #63665F;
    width: 750px;
    margin: auto;
    position: relative;    
}

#chart {
    width: 800px;
    position: relative;
}
#top_bar {
    position: relative;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bottom_bar {
    position: relative;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background: #fff;
    position: absolute;
    margin: 0;
    padding: 0;
    float: left;
    left: 0;
    bottom: 0;
    width: 205px;
    height: 69px;
}

#fb {
    background: #ff;
    position: absolute;
    margin: 0;
    padding: 0px 0px 5px 0px;
    float: right;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
}

.nav {
    background: #fff;
    display: block;
    position: absolute;
    background:url('images/nav.png') no-repeat;
    width: 531px;
    height: 42px;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 100px;
}
.nav li {
    float: left;
    list-style: none;
}
.nav a {
    height: 42px;
    display: block;
}
.nav_home {
    width: 60px;
}
.nav_home a:hover {
    background:url('images/nav.png') 0px -42px no-repeat;
}
.nav_home a.selected {
    background:url('images/nav.png') 0px -84px no-repeat;
}
.nav_about {
    width: 97px;
}
.nav_about a:hover {
    background:url('images/nav.png') -60px -42px no-repeat;
}
.nav_about a.selected {
    background:url('images/nav.png') -60px -84px no-repeat; 
}
.nav_news {
    width: 73px;
}
.nav_news a:hover {
    background:url('images/nav.png') -157px -42px no-repeat;
}
.nav_news a.selected {
    background:url('images/nav.png') -157px -84px no-repeat;
}
.nav_media {
    width: 84px;
}
.nav_media a:hover {
    background:url('images/nav.png') -230px -42px no-repeat;
}
.nav_media a.selected {
    background:url('images/nav.png') -230px -84px no-repeat;
}
.nav_wavecheck {
    width: 115px;
}
.nav_wavecheck a:hover {
    background:url('images/nav.png') -314px -42px no-repeat;
}
.nav_wavecheck a.selected {
    background:url('images/nav.png') -314px -84px no-repeat;
}
.nav_guides {
    width: 94px;
}
.nav_guides a:hover {
    background:url('images/nav.png') -429px -42px no-repeat;
}
.nav_guides a.selected {
    background:url('images/nav.png') -429px -84px no-repeat;
}

.chart-type {
    float: left;
    font-family: "Helvetica Neue UltraLight";
    position: relative;
    padding-top: 25px;
    padding-bottom: 20px;
} 

.chart-type ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
}

.chart-type li {
    margin-left: 0;
    list-style-type: none;
    display: inline;
    float: left;

}

.chart-type a {
    display: inline;
    /* top right bottom left */
    padding: 0px 25px 0px 0px;
    font-size: 2.5em;
    line-height: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 0.5px 0.5px 2px #000;
    text-decoration: none;
    border-style: none;
    background-repeat: repeat-x;
    vertical-align: middle;
}

.chart-key {
    background:url("images/chartkey.png") no-repeat scroll 0 0 transparent;
    
    height: 27px;
    margin-left: 50px;
    /* text-indent: -9999px; 
    display: block;
        position: relative;
    */
    width: 760px;

}

.chart-key.c-scale-TMP{
    background-position:0 0
}

.chart-key.c-scale-HTSGW{
    background-position:0 -27px
}

.chart-key.c-scale-PERPW{
    background-position:0 -54px
}

.chart-key.c-scale-WMAG{
    background-position:0 -81px
}

.chart-key.c-scale-PRATE{
    background-position:0 -108px
}

.chart-key.c-scale-SURF,.c-keywrapper.c-scale-HTSGW.c-newscale{
    background-position:0 -135px
}

.chart-key.c-scale-JETSTREAM{
    background-position:0 -162px
}

#tide {
    padding-top: 50px;  
}

#tide_title {
    padding-bottom: 20px;
    font-family: "Helvetica Neue UltraLight";
    font-size: 2.5em;
    line-height: 16px;
    color: rgb(0, 0, 0);
    text-align: left;
    text-shadow: 0.5px 0.5px 2px #000;
    text-decoration: none;
    border-style: none;
    background-repeat: repeat-x;
    vertical-align: middle;
}

#tide_chart {
    width: 750px;
}

#waveDate {
    text-align: right;
    position: relative;
    color: #332727;
    font-family: "Helvetica Neue Light", Arial, Lucida, sans-serif;
    text-shadow: 0px 0px 0px #000;
    font-size: 1.15em;
}
#search {
    background: #fff;
    float: right;
    position: absolute;
    background:url('images/search.png') no-repeat;
    width: 156px;
    height: 33px;
    margin: 0;
    padding:; 0px 0px 18px 0px;
    top: 0;
    right: 0;
}

#anim {
    width: 750px; 
    /* height: 460px;
     background-image: url(http://chart-a.metcentral.com/wave/750/61-1339632000-HTSGW.png);
    background-image: url(http://mail.google.com/mail/im/emotisprites/wink2.png); */
    background-repeat: no-repeat; 
}